<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cifreiapk">



    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cifrei_foreground"
        android:label="Cifrei"
        android:roundIcon="@mipmap/ic_launcher_cifrei_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CifreiApk">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CriarCifraActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".InserirNotasActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".VisualizarCifraActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".VisualizacaoCifraActivity"
                android:windowSoftInputMode="stateHidden"/>
    </application>

</manifest>